*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#eef2ff;
}

.container{
  width:100%;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20px;
}

.form-box{
  width:100%;
  max-width:520px;
  background:white;
  padding:30px;
  border-radius:20px;
  box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

.form-box h1{
  text-align:center;
  color:#4338ca;
  margin-bottom:8px;
  font-size:30px;
}

.form-box h2{
  text-align:center;
  margin-bottom:25px;
  color:#444;
  font-size:20px;
}

.form-box input,
.form-box select,
.form-box textarea{
  width:100%;
  padding:14px;
  margin-bottom:16px;
  border:1px solid #ccc;
  border-radius:10px;
  font-size:15px;
}

.form-box textarea{
  height:90px;
  resize:none;
}

.time-section{
  margin-bottom:18px;
}

.time-btn{
  width:100%;
  padding:13px;
  border:none;
  background:#4338ca;
  color:white;
  border-radius:10px;
  margin-top:10px;
  cursor:pointer;
  font-size:15px;
}

.time-btn:hover{
  background:#312e81;
}

.time-section p{
  margin-top:8px;
  font-size:14px;
  color:#333;
}

.save-btn{
  width:100%;
  padding:15px;
  background:#16a34a;
  color:white;
  border:none;
  border-radius:10px;
  font-size:16px;
  cursor:pointer;
}

.save-btn:hover{
  background:#15803d;
}